

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
}

.carousel-item>img {
    max-height: 625px;
}

.home-inland {
    background-image: url(/template/images/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-inland>p, .home-inland>h2 {
    padding-top: 20px;
    color: aliceblue;
}

.card-text {
    font-size: 14px;
    margin-bottom: 0%;
}

.price {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

.achieve {
    background-image: linear-gradient(rgba(22, 22, 22, 0.5), rgba(20, 20, 20, 0.5)), url(/template/images/plane.jpg);
    background-color: black;
    background-size: cover;
    background-position: center top;
    padding-bottom: 70px;
    color: aliceblue;
}

.achieve>h5 {
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.achieve>h2 {
    padding-bottom: 30px;
}

.achiev-card {
    text-align: center;
}

.achiev-icon {
    max-width: 100px;
    max-height: 250px;
}

.number {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 179, 0);
}

.reason {
    padding-bottom: 70px;
}

.fixed-top.scrolled {
    background: aliceblue !important;
}

.dif-text {
    color: white;
}

.text-dark{
    font-size: 1em;
    font-weight: bold;
}
.footer-col{
    padding: 20px auto;
}

footer{
    background-image: url(/template/images/bg-section-videos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo{
    margin-bottom: 15px;
}
.col-md-4 h6{
    margin :25px auto;
    font-size: 1.2em;
}
.col-md-4 ul{
    list-style: none;
}

.col-md-4 li{
    line-height: 45px;
}
.col-md-4 a{
    color: aliceblue;
}
.col-md-4{
    padding: 15px;

}
footer .col-4{
    padding: 0 !important;
    width: 70px !important;
}
.breadcrumb{

    background-color: transparent;
    position: relative;
    margin: 0;
}
.breadcrumb-item , .breadcrumb-item a {
    color: aliceblue;
    font-weight: bold;
}
.breadcrumb-item + .breadcrumb-item::before {
    font-weight: bold;
    content: ">>";
    color: rgb(253, 253, 253);
 }
.path-menu{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(22, 22, 22, 0.5), rgba(20, 20, 20, 0.5)), url(/template/images/hue.jpg);
    /* position:absolute; */
    padding: 130px 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.about{
    margin: 0;
}